<div class="projects-card mx-4 lg:mx-8 grid grid-cols-1 md:grid-cols-3 gap-4 mb-8 lg:mb-16 items-center">
    <!-- Tag & Title (Always First) -->
    <div class="md:col-span-3">
      {% if include.category-name %}
        <div class="flex items-center">
          <svg width="64" height="2" viewBox="0 0 64 2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M64 1H0" stroke="#6B7280" />
          </svg>
            <p class="text-base leading-none text-gray-500 ml-2">{{ 
        include.category-name }}</p>
        </div>
      {% endif %}

        <div class="text-gray-900 font-bold text-xl font-ibmsans">
            {{ include.title }}
        </div>
    </div>

    <!-- Image Section (Appears between title and text in mobile, right side in desktop) -->
    <div class="w-full order-2 md:col-span-1 md:order-3">
    <img 
      src="/assets/images/projects/{{ include.image}}" 
      class="w-full h-10 sm:h-15 md:h-auto object-cover rounded-lg" 
      alt="{{include.image-alt}}"
    />
    </div>

    <!-- Text Section (Takes 2/3 space on desktop, below image in mobile) -->
    <div class="md:col-span-2 md:pr-6 order-3 md:order-2">
        <p class="p-6 text-base leading-6 mt-2 font-ibmserif bg-gray-100">
            {{ include.teaser }}

      <a href={% link {{include.path}} %}>More…</a>
        </p>
    </div>
</div>
