---
title: Resources
layout: default
permalink: /resources/
---


{% include section-break.html section='Resources' %}

<div class="mt-3">

    {% include card-title.html tag='Lab Resources' %}

        <ul class="m-5 mb-9 space-y-2 font-ibmserif">

            <li class="">
                <a href="https://nil.columbia.edu/assets/cunil-founding-letter.pdf" class="italic
                font-bold">Lab Founding Goals & Description</a> represents the vision of the
                lab's activities at the time of its founding, in 2024.
            </li>

            <li class="">
                <a href="https://github.com/cu-nil/chnotes/blob/master/README.md" class="italic
                font-bold">CUNIL Notes in the Computational Humanities</a> contains working
                notes, tutorials, manuals, and other "local knowledge" materials from
                Columbia's Narrative Intelligence Lab.
            </li>

            <li class="">
                <a href="https://github.com/cu-nil/chnotes/blob/master/pages/author.md"
                class="italic font-bold">CUNIL Co-authorship Attribution Guidelines </a>
                articulates a set of guidelines for determining author order, assigning roles,
                setting clear expectations, and crediting fairly in a varied collaborative
                environment. 
            </li>

        </ul>

    {% include card-title.html tag='Journals & Indexed Conferences' %}

    <ul class="m-5 mb-9 space-y-2 font-ibmserif">

        <li class="">
            <a href="https://ohiostatepress.org/Narrative.html" class="italic
            font-bold">Narrative</a> is the official journal of International Society for the Study
            of Narrative. Its mission is to publish essays that contribute to both narrative theory
            and the interpretation of individual narratives.
        </li>

        <li>
            <a href="https://www.cambridge.org/core/journals/computational-humanities-research"
            class="italic font-bold">Journal of Computational Humanities Research (CHR)</a>
            is an open access journal in the computational humanities, publishing
            transdisciplinary papers that are grounded in humanities research questions and use
            computational, quantitative methodologies to analyse humanities data in its various
            forms.

        </li>

        <li>
            <a href="https://computational-humanities-research.org/conference/" class="italic
            font-bold">
                Proceedings of the Computational Humanities Research Conference
            </a>
            indexes the yearly conference of the Computational Humanities Research community.

        </li>

    </ul>

    {% include card-title.html tag='Partners & Sister Labs' %}

    <ul class="m-5 space-y-2 font-ibmserif">

        <li>
            <a href="https://incite.columbia.edu/events-series/narrative-workshops"
             class="font-bold">
                The Narrative Workshop 
            </a>

            at Columbia's Incite Institute assembles researchers across disciplines to discuss narrative
            from different theoretical and methodological perspectives.

        </li>

        <li>
            <a href="https://samsci.org/"
             class="font-bold">
                Seoul Advanced Methods in Scholarly Computation Institute
            </a>

        is an intensive summer program providing advanced training in computational methods for
        scholars in the humanities and social sciences. 

        </li>


        <li>
            <a href="https://chc.au.dk/" class="italc font-bold">
                Center for Humanities Computing
            </a>

            at Aarhus University, Denmark advances research at the intersection of the
            humanities, language technology, artificial intelligence, agent-based modelling,
            and cultural dynamics.

        </li>

    </ul>
</div>

