---
title: Team
layout: default
---


{% include section-break.html section='Team' subsection='Faculty, students, librarians.' %}

<div class="mt-4 mx-8 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-w-5xl">
    {% for member in site.data.team %}
        <div class="bg-white rounded-md p-3 flex flex-col items-start gap-3">

            <!-- Profile Image (Left-Aligned for Balance) -->
            <img class="w-20 h-20 rounded-xl object-cover self-start" 
                 src="/assets/images/team/{{member.image}}" 
                 alt="Profile photo of {{ member.name }}" />

            <!-- Title Section -->
            <div class="flex items-center">
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/blog-4-svg1.svg" alt="line" />
                <p class="text-sm leading-none text-gray-500 ml-2 font-ibmsans text-left">{{ member.title }}</p>
            </div>

            <span class="p0 m0">
                <!-- Name (Left-Aligned) -->
                {% if member.link %}
                    <a href="{{ member.link }}" target="_blank" class="hover:text-sky-800 text-base font-semibold mt-1 block text-left">
                        <h2 class="font-ibmserif">{{ member.name }}</h2>
                    </a>
                {% else %}
                    <h2 class="font-ibmserif text-base font-semibold mt-1 text-left">{{ member.name }}</h2>
                {% endif %}

                <!-- Affiliation (Left-Aligned) -->

                <small class="text-gray-600 font-ibmsans text-left block leading-tight">
                    {{ member.affiliation }}
                </small>
                <small class="font-ibmserif block leading-tight">
                    {{ member.university }}
                </small>
            </span>

        </div>
    {% endfor %}
</div>
