<div class="flex mt-0 items-start font-bold font-sans">

    <div class="flex-initial pl-7 pt-5 mr-3 bg-sky-600 text-white font-bold text-5xl lg:text-7xl">
        <a href="{{ site.url }}" class="">
            CUØ
        </a>
    </div>

    <div class="grid grid-cols-2
                text-gray-500 font-medium text-base lg:text-xl">

        <a href="{{ site.url }}#case-studies" class="hover:text-sky-600">
            projects</a>

        <a href="{{ site.url }}#case-studies" class="hover:text-sky-600">
            team</a>

        <a href="{{ site.url }}#case-studies" class="hover:text-sky-600">
            impact</a>

        <a href="{{ site.url }}#about" class="hover:text-sky-600">book_series</a>

        <a href="https://xpmethod.columbia.edu/" class="hover:text-sky-700 row-span-2">archive</a>

    </div>

</div>

<div class="pl-7">
<div class="font-bold uppercase text-gray-800">Narrative Intelligence Lab</div>
<div class="text-sm text-gray-600">Columbia University</div>
</div>

