<div id="top" class="flex flex-wrap items-baseline mb-2 text-base md:text-xl text-gray-800 font-ibmserif">
    <div class="whitespace-nowrap mr-2 text-sm sm:text-xl"> Columbia University </div>
    <div class="">
        <span class="font-bold">Narrative Intelligence Lab</span>
        <sup class="text-xs whitespace-nowrap">
        <a href="#footnote" class="hover:text-sky-700">1</a>,
        <a href="#footnote" class="hover:text-sky-700">2</a>,
        <a href="#footnote" class="hover:text-sky-700">3</a>,
        <a href="#footnote" class="hover:text-sky-700">4</a>
        </sup>
    </div>
</div>

<div class="flex mt-0 items-start font-bold font-sans">

    <div class="grid pr-1 sm:pl-16 pl-8 mr-3 bg-sky-600 text-white font-bold text-5xl lg:text-7xl">
        <a href="/" class="font-ibmsans">
            CUØ
        </a>
        <span class="text-sm text-right pr-2 font-serif">/'kjuːnɪl/</span>
    </div>

    <div class="grid grid-cols-2
                text-gray-800 font-medium text-base lg:text-xl font-ibmsans">

            <a href="/research" class="hover:text-sky-700">
                Research</a>

            <a href="/team" class="hover:text-sky-700">
                Team</a>

            <a href="#case-studies" class="hover:text-sky-700">
                Impact</a>

            <a href="#about" class="hover:text-sky-700">Book Series</a>

            <a href="https://xpmethod.columbia.edu/" class="hover:text-sky-700 row-span-2">Archive</a>

    </div>

</div>
