<div class="flex mt-0 items-start font-bold font-sans">

    <div class="flex-initial pl-7 pt-5 mr-3 bg-sky-600 text-white font-bold text-5xl lg:text-7xl">
        <a href="/" class="">
            CUØ
        </a>
    </div>

    <div class="grid grid-cols-2
                text-gray-500 font-medium text-base lg:text-xl">

            <a href="#case-studies" class="hover:text-sky-700">
                Projects</a>

            <a href="#case-studies" class="hover:text-sky-700">
                Team</a>

            <a href="#case-studies" class="hover:text-sky-700">
                Impact</a>

            <a href="#about" class="hover:text-sky-700">Book Series</a>

        <a href="https://xpmethod.columbia.edu/" class="hover:text-sky-700 row-span-2">archive</a>

        </div>
    </nav>

    <div class="mt-3 lg:mt-0">
        <h2 class="font-bold flex font-sans justify-center lg:justify-start items-baseline">

            <a href="/">
            <span class="bg-sky-600 text-white font-bold text-5xl">
                    &nbsp;CUØ&nbsp;
            </span>

            <span class="bg-white text-black text-3xl ml-2">
                    Narrative Intelligence Lab&nbsp;
            </span>
            </a>

         </h2>

        <span class="lg:visible flex mt-1 text-xl text-gray-700 justify-center lg:justify-start">
            Columbia University
        </span>
    </div>

</div>

    <div class="pl-7">
    <div class="font-bold text-lg md:text-xl uppercase text-gray-800">Narrative Intelligence Lab</div>
    <div class="md:text-xl text-gray-600">Columbia University</div>

</div>
