<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <!--<script>
        const apiKey = "";
    </script>-->
    <!--<script src="/assets/js/script.js"></script>-->
  <body class="m-3 font-ibmsans">
    {% include header.html %}

    <div class="mx-4 lg:mx-8">
        {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
